{% extends "base.html" %}
{% load staticfiles %}
{% block categories %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Категории <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for category in all %}
                <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock categories %}
{% block title %}Категории{% endblock title %}
{% block content %}
    <div class="col-sm-12">
        <h2>{{ category }}</h2>
        <hr>
            {% for item in products %}
                <div>
                    <ul>
                        <li>
                            <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
    </div>
{% endblock content %}