{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %} Регистрация {% endblock title %}
{% block categories %}{% endblock categories %}

{% block account %}
    <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-link" href="{% url 'users:login' %}" role="button">Авторизация</a></li>
    </ul>
{% endblock account %}

{% block content %}
    <h3 class="text-center">Регистрация нового пользователя</h3>
    <hr>
    <div class="col-sm-6 col-sm-offset-3">
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <input type="submit" class="btn btn-success btn-block" value="Зарегистрироваться" />
        </form>
    </div>

{% endblock content %}